/* header & content  */
.header {
  font-family: Helvetica, Arial, sans-serif
  margin-bottom: 2em;
}

@media (min-width: 48em) {
  .header,
  .content {
    padding: 0 2em;
  }
}
@media (max-width: 48em) {
  .header,
  .content {
    padding: 0 0.5em;
  }
}

/* Meta-Information unter einem Artikel */
.post-meta {
  font-size: 90%;
}

/* Linked list of posts */
.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

/* Menu */
#menu .pure-menu {
  font-size: 0.9em;
}

#menu i {
  display: inline-block;
  margin-right: 0.2em;
}

/* Pagination */
.pagination {
  text-align: center;
}

/* Links in /topics & /tags to RSS fields */
table.terms td:nth-child(2) a {
  padding-left: 1em;
  color: #aaa;
}

/* Code blocks */
pre {
  background-color: #eee;
  padding: 0.5em 1em;
}
code {
  font-size: 10pt;
  line-height: normal;
}

/* Links im Text */
a {
  color: #3b8bba;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:visited {
  color: #265778;
}

