{{"<!-- SOURCE: layouts/de/single.html //-->" | safeHTML}}
{{ partial "header.html" . }}
<div class="header">
  <h1>{{ .Title }}</h1>
  <div class="content-subhead">{{ .Description }}</div>
</div>
<div class="content">
  {{ .Content }}
  {{ partial "post_meta.html" . }}
  {{ partial "prev_next_post.html" . }}
</div>
{{ partial "footer.html" . }}
