{{"<!-- SOURCE: partials/pagination.html //-->" | safeHTML}}
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="pagination" role="pagination">
  {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}"><i class="fa fa-angle-double-left"></i></a>
  {{ end }}
  <span>{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}</span>
  {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}"><i class="fa fa-angle-double-right"></i></a>
  {{ end }}
</nav>
{{ end }}
