{{"<!-- SOURCE: partials/post-meta.html //-->" | safeHTML}}
<div class="post-meta">
  <span>
    <i class="fa fa-calendar fa-fw"></i>
    <time>{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006, 15:04" }}{{ end }}</time>
  </span>
  {{ $baseUrl := .Site.BaseURL }}
  {{ if isset .Params "topics" }}
  {{ $count := len .Params.topics }}
  {{ if gt $count 0 }}
  &nbsp;<span>
    <i class="fa fa-folder fa-fw"></i>
    {{ range $k, $v := .Params.topics }}
      <a class="post-taxonomy-topic" href="{{ $baseUrl }}topics/{{ . | urlize }}">{{ . }}</a>
      <a class="post-taxonomy-topic" href="{{ $baseUrl }}topics/{{ . | urlize }}/index.xml">(<i class="fa fa-feed"></i>RSS)</a>
      {{ if lt $k (sub $count 1) }},{{ end }}
    {{ end }}
  </span>
  {{ end }}
  {{ end }}
  {{ if isset .Params "tags" }}
  {{ $count := len .Params.tags }}
  {{ if gt $count 0 }}
  &nbsp;<span>
    <i class="fa fa-tags fa-fw"></i>
    {{ range $k, $v := .Params.tags }}
      <a class="post-taxonomy-tag" href="{{ $baseUrl }}tags/{{ . | urlize }}">{{ . }}</a>{{ if lt $k (sub $count 1) }},{{ end }}
    {{ end }}
  </span>
  {{ end }}
  {{ end }}
</div>
