{{"<!-- SOURCE: _default/single.html //-->" | safeHTML}}
{{ partial "header.html" . }}
<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Description }}</h2>
</div>
<div class="content">
  {{ .Content }}
</div>
{{ partial "footer.html" . }}
